
#display{
    width: 800px;
}
.float{
    float: left;
    border:solid 1px;
    width: 200px;
    height: 200px;
}

#izumi{
    width:100%;
}

#woman{
    width:60%;
}

#man{
    width:60%;
}

#cat{
    width:60%;
}

#face1{
    font-size:25px;
    text-align: center;
}

#face2{
    font-size:25px;
    text-align: center;
}

#face3{
    font-size:25px;
    text-align: center;
}

#above:after{
    content: "";
    display: table;
    clear: both;
}

#bottom:after{
    content: "";
    display: table;
    clear: both;
}

#hey_button{
    width: 100%;
    /*float: left;*/

    /*display: inline;*/
}
#hey_button_box img{
    
}
#counter_all{
    /*padding-left: 400px;*/
    /*float: right;*/
/*    display: inline;
    text-align: right;*/
    /*border: solid 1px;*/
}
#box{
    width: 200px;
    height: 200px;
}